*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fafafa;
}

html {
  font-size: 16px;
}

svg {
  cursor: pointer;
}

.navbar__container {
  .row__space__between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      font-size: 25px;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-max {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-min {
  display: flex;
  align-items: center;
}
